body{
    height: 100vh;
    width: 100%;
    background: #ecf0f3;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-body{
    padding: 10px;
    border-radius: 8px;
    box-shadow: 
    7px 7px 13px  rgba(153, 153, 153, 0.4),
    -7px -7px 13px #fff
    ;
}

.program-title{
    font-family: 'Audiowide', cursive;
}

.input{
    display: flex;
}

.input input{
    background: none;
    border: none;
    outline: none;
    box-shadow: 
    0 0 0 2px #e2e8ee,
    0 0 2px #fff,
    3px 3px 2px inset rgba(153, 153, 153, 0.4),
    -4px -4px 9px inset #ffffff
    ;
    border-radius: 5px;
    padding: 0 8px;
    height: 35px;
    color: #555;
}

.input input:nth-child(2){
    margin-left: 5px;
}

.calculate{
    display: flex;
    justify-content: center;
}

.result div{
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
}

#resultPercent{
    font-size: 100px;
    font-family: 'Audiowide', cursive;
}

#author{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -25px;
    font-size: 11px;
    color: rgb(192, 192, 192);
    letter-spacing: 2px;
}

.progress-div{
    height: 20px;
    border-radius: 50px;
    overflow: hidden;
    margin-top: -40px;
    margin-bottom: 30px;
}

.progress-bar{
    height: 20px;
    width: 0;
    margin-left: 0;
    background: linear-gradient(135deg, gold, rgba(251, 40, 3, 0.938));
}

@media screen and (max-width:500px){
    .program-title{
        font-size: 32px;
    }
    .input{
        flex-direction: column;
    }

    .input input:nth-child(2){
        margin-top: 10px;
        margin-left: 0;
    }
    #yourName, #partnerName{
        font-size: 22px;
    }
}